p{
    text-align: justify;
}
.phyimgae:before{
    content: '';
    background: url(/assets/images/physicalsecuritysolution.png);
    width:25%;
    height: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: -38px;
    right:0px;
}
ul.list {
    padding: 0;
    margin: 0;
}
.list li {
    display: block;
    margin: 5px 0;
}
#product{
    margin: 0px;
    padding-top: 0px;
}

section#footerLastAbout h3 {
    text-transform: uppercase;
    border-bottom: 3px solid #eee;
    padding-bottom: 15px;
}
section#footerLastAbout.lastbefore h3 {
    text-transform: uppercase;
    border: none;
    padding-bottom: 0px;
    text-align: center;
}
section#footerLastAbout.lastbefore p {
    text-align: center;
}
section#footerLastAbout a {
    color: #081636;
    font-weight: 800;
}
#footerLastAbout p {
    font-size: 16px;
    line-height: 14px;
}
section#footerLastAbout {
    padding-top: 0;
}
hr {
    margin: 20px auto;
    border: 2px solid #000;
    width: 150px;
}
ul.partner li img {
    max-width: 100px;
   /* filter: grayscale(100%);*/
}
ul.partner.extra li img{
    max-width: 150px;
    margin-bottom: 25px;
}
ul.partner li img:hover {
    filter: grayscale(0%);
}
ul.partner li {
    display: inline-block;
    margin: 25px 30px;
}
.text-center p{
    text-align: center;
}
.partner.extra li {
    text-align: center;
    width: 215px;
}
.partner.extra li p{
    text-align: center;
    font-size: 16px;
}
section#hwmain {
    padding-top: 0;
}
section#ithwnet h3 {
    width: 60%;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
}

/* lg */
@media (min-width: 1200px) {

}
@media (max-width: 1024px) {

}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {


    h2.styleHeader {
        width: 90%;
        margin: 10px 0px;
    }
    .partner.extra li p {
        font-size: 12px;
    }
    .partner.extra li {
        text-align: center;
        width: 155px;
    }
    .phyimgae:before {
        background: none;
    }
    section#ithwnet h3 {
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
    }
}

/* xs */
@media (max-width: 767px) {
    .phyimgae:before {
        background: none;
    }
    ul.partner {
        padding: 0;
    }
    .partner.extra li {
        text-align: center;
        width: 50%;
    }
    section#ithwnet h3 {
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
    }
    ul.partner li {
        width: 30%;
        margin: 0px 0px;
    }
    ul.partner li img{
        width: 50%;
    }
 
    h2.styleHeader {
        width: 90%;
        margin: 10px 0px;
    }
    .partner.extra li p {
        font-size: 12px;
    }
}

/* XS Portrait */
@media (max-width: 479px) {


}