<section class="solution-business pad-50" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-12 app-header">
        <div class="honeycomb-wrapper">
          <ul class="honeycomb-row">
            @for (item of solutions; track item.route) {
              <li class="honeycomb-cell">
                <a class="honeycomb-link" [routerLink]="[item.route]">
                  <img class="honeycomb-cell_img" [src]="item.image" alt="" />

                  <div class="honeycomb-cell_title">
                    <!-- Image icon -->
                    <span class="d-block" *ngIf="item.iconType === 'image'">
                      <img [src]="item.icon" alt="" />
                    </span>

                    <!-- CSS class icon -->
                    <span class="d-block" *ngIf="item.iconType === 'class'">
                      <i [class]="item.icon"></i>
                    </span>

                    {{ item.title }}
                  </div>
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Child route renders here -->

<!-- <router-outlet></router-outlet> -->
