<div class="partnership-outer">
  <div class="card-titile p-3"><h5>Join the ESAT ERP Partner Program</h5></div>

  <div class="divider p-2"></div>
  <form
    id="contact-form"
    class="contact-form contact-form bg-white banner-contact rounded text-black needs-validation p-3"
    [formGroup]="angForm"
    novalidate
    (ngSubmit)="onComplete()"
  >
    <div class="row">
      <div class="col-6">
        <div class="inpzero">
          <div class="form-group">
            <input
              class="form-control brd-bttm"
              formControlName="name"
              type="text"
              placeholder="Please enter your name"
              [ngClass]="{
                errorwrapper: angForm.get('name')?.invalid && angForm.get('name')?.touched,
              }"
            />
          </div>

          <div class="error" *ngIf="angForm.get('name')?.invalid && angForm.get('name')?.touched">
            Please enter your name
          </div>
        </div>
      </div>

      <div class="col-6">
        <!-- PHONE -->
        <div class="inpzero">
          <div class="form-group">
            <input
              class="form-control brd-bttm"
              formControlName="phone_no"
              type="text"
              placeholder="05XXXXXXXX"
              [ngClass]="{
                errorwrapper: angForm.get('phone_no')?.invalid && angForm.get('phone_no')?.touched,
              }"
            />
          </div>

          <div
            class="error"
            *ngIf="angForm.get('phone_no')?.invalid && angForm.get('phone_no')?.touched"
          >
            Please enter valid phone number
          </div>
        </div>
      </div>
    </div>

    <!-- EMAIL -->

    <div class="row">
      <div class="col-6">
        <div class="inpzero">
          <div class="form-group mb-2">
            <input
              class="form-control brd-bttm"
              formControlName="email"
              type="text"
              placeholder="Please enter your email"
              [ngClass]="{
                errorwrapper: angForm.get('email')?.invalid && angForm.get('email')?.touched,
              }"
            />
          </div>

          <div class="error" *ngIf="angForm.get('email')?.invalid && angForm.get('email')?.touched">
            <div *ngIf="angForm.get('email')?.errors?.['required']">
              Please enter your email address
            </div>

            <div *ngIf="angForm.get('email')?.errors?.['email']">
              Please enter a valid email address
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="inpzero">
          <div class="form-group">
            <input
              class="form-control brd-bttm"
              formControlName="comp_name"
              type="text"
              placeholder="Enter company name"
              [ngClass]="{
                errorwrapper:
                  angForm.get('comp_name')?.invalid && angForm.get('comp_name')?.touched,
              }"
            />
          </div>

          <div
            class="error"
            *ngIf="angForm.get('comp_name')?.invalid && angForm.get('comp_name')?.touched"
          >
            Please enter your company name
          </div>
        </div>
      </div>
    </div>

    <div class="inpzero mb-2">
      <div class="form-group">
        <select
          class="form-control"
          formControlName="typeofbus"
          [ngClass]="{
            errorwrapper: angForm.get('typeofbus')?.invalid && angForm.get('typeofbus')?.touched,
          }"
        >
          <option value="">Partnership Type</option>

          <option>Reseller Program</option>

          <option>Referral Program</option>

          <option>Affiliate Program</option>
        </select>
      </div>

      <div
        class="error"
        *ngIf="angForm.get('typeofbus')?.invalid && angForm.get('typeofbus')?.touched"
      >
        Fill required field
      </div>
    </div>

    <div class="inpzero">
      <div class="form-group">
        <textarea
          class="txt form-control brd-bttm"
          formControlName="textarea"
          rows="5"
          placeholder="Enter your message"
          [ngClass]="{
            errorwrapper: angForm.get('textarea')?.invalid && angForm.get('textarea')?.touched,
          }"
        ></textarea>
      </div>

      <div
        class="error"
        *ngIf="angForm.get('textarea')?.invalid && angForm.get('textarea')?.touched"
      >
        Please enter your message (minimum 10 characters)
      </div>
    </div>

    <div class="col-sm-12 form-default btnc mt-3">
      <button type="submit" class="btn btn-primary btnn border-0 bg-theme">Submit</button>
    </div>
  </form>
</div>
